.hide {
  display: none;
}
.wrapper {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: purple;
}
.start {
  padding: 15px 32px;
  font-size: 20px;
  text-decoration: white;
}
.questions {
  margin: 20px;
}
.timer {
  text-align: center;
}
